.custom-image {
    width: 275px; /* Définir la largeur souhaitée */
    height: 175px; /* Permet de conserver les proportions de l'image */
}
.background-head-foot{
    background-color: #e3f2fd;
} 
